# Xcode User Data
HALP/HALP.xcodeproj/xcuserdata/
HALP/HALP.xcodeproj/project.xcworkspace/xcuserdata/

# OSX temp files
.DS_store
.Transhes
*.swp

# Xcode temp folder
HALP/HALP.xcodeproj/build/
HALP/HALP.xcodeproj/DerivedData/

# Idea IDE
HALP/.idea/


